# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.easignore

# Firebase
ios/GoogleService-Info.plist
ios/projectshoes/GoogleService-Info.plist
google-services.json
android/app/google-services.json

# Native builds
ios/build/
ios/Pods/
ios/.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
android/.gradle/
android/.idea/
android/local.properties
android/.cxx/
android/app/build/
android/build/

# Metro
.metro-health-check*

# Logs & debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment
.env*
!.env.example

# Keys & certificates
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
*.pem
credentials.json
credentials/

# OS files
.DS_Store
Thumbs.db
*.tmp
*.temp

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
*.swp
*.swo

# React Native
.react-native-cli
.flipper/