<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOcnvJs1RYiWI59XYn9eMfwVEQnbx_OiU</string>
	<key>GCM_SENDER_ID</key>
	<string>800708876414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanis52535.projectshoesv2</string>
	<key>PROJECT_ID</key>
	<string>shoes-project-cc8ca</string>
	<key>STORAGE_BUCKET</key>
	<string>shoes-project-cc8ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800708876414:ios:f03a434efab23878c9602f</string>
	<key>DATABASE_URL</key>
	<string>https://shoes-project-cc8ca-default-rtdb.firebaseio.com</string>
</dict>
</plist>